<div id="footer" class="container-fluid">
  <div class="footer-content-container page-container-responsive">
    <div class="social-media text-center">
      <h5 class="row-space-4 hide-sm">Join Us On</h5>
      <ul class="unstyled list-layout list-inline" itemscope itemtype="http://schema.org/Organization">
        <li>
          <a href="https://www.facebook.com/airbnb" class="" target="_blank">
            <%= fa_icon "facebook" %>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/+airbnb" class="" target="_blank">
            <%= fa_icon "google-plus" %>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/airbnb" class="" target="_blank">
            <%= fa_icon "twitter" %>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/airbnb" class="" target="_blank">
            <%= fa_icon "linkedin" %>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/airbnb/" class="" target="_blank">
            <%= fa_icon "pinterest-p" %>
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/airbnb" class="" target="_blank">
            <%= fa_icon "youtube" %>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/airbnb" class="" target="_blank">
            <%= fa_icon "instagram" %>
          </a>
        </li>
    </ul>
    <div id="copyright" class="row-space-top-2">
      &copy; Hotelsify.Me, Inc.
    </div>
  </div>
</div>