<div class="container">
  <div class="fuelux registration-container">
    <div class="wizard" id="registration_wizard">
      <ul class="steps">
        <li data-step="1" class="active"><span class="badge">1</span>Account<span class="chevron"></span>
        </li>
        <li data-step="2"><span class="badge">2</span>Styles<span class="chevron"></span></li>
        <li data-step="3"><span class="badge">3</span>Basic info<span class="chevron"></span></li>
      </ul>
      <div class="step-content">
        <% p 'step: ' + @step.to_s %>
        <% if @step %>
          <%= javascript_tag do %>
            var step_value = <%= @step %>;
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <div class="step-pane sample-pane alert" data-step="1">
          </div>
        <% else %>
          <div class="step-pane active sample-pane alert" data-step="1">
            <%= yield %>
          </div>
        <% end %>
         <div class="step-pane active sample-pane alert" data-step="2">
          <% if user_signed_in? && @step == 2 %>
            <%= render('profile/ambiance_tags.html.erb') %>
          <% end %>
        </div>
        <div class="step-pane sample-pane alert" data-step="3">
          <% if user_signed_in? && @step == 3 %>
            <%= render('profile/basic_info.html.erb') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_include_tag "registration_wizard.js" %>
<% end %>