<!DOCTYPE html>
<html class="fuelux">
<head>
  <title>Hotelsify.me</title>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= controller_assets %>
  <%= views_assets %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render('layouts/header_nav_bar.html.erb') %>

<%= yield %>
<%
  show_footer = !params[:controller].include?("devise")
  show_footer = show_footer && !(params[:controller].include?("hotels") && params[:action].include?("index"))
%>
<% if show_footer  %>
  <%= render('layouts/footer.html.erb') %>
<% end %>

<%= yield(:after_js) %>

</body>
</html>
